*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
    height: 106px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.header img{
    width: 2.6%;
    height: 46px;
    margin-left: 9.79%;
}

.heading{
    display: flex;
    flex-direction: column;
}

.emp{
    font: normal normal bold 22px/25px Montserrat;
    color: #82A70C;
    text-transform: capitalize;
}

.pay{
    font: normal normal bold 22px/25px Montserrat;
    color: indigo;
    text-transform: capitalize;
}

.section{
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section .form{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
    opacity: 1;
    width: 62%;
    height: 700px;
    margin: 1%;
}

.newdiv h1{
    text-align: left;
    font: normal normal bold 28px/37px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: capitalize;
    opacity: 1;
    margin: 20px 0px;
}

.newdiv{
    margin: 0px 10%;
}

.inputs{
    width: 110%;
    /* border: 5px solid seagreen; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
}

.first1{
    width: 100%;
    display: flex;
    gap: 18%;
}

.second2{
    width: 75%;
    display: flex;
    gap: 14%;
}

.third3{
    width: 100%;
    display: flex;
    gap: 16.5%;
}

.fourth4{
    width: 75%;
    display: flex;
    gap: 16.5%;
}

.fifth5{
    width: 100%;
    display: flex;
    gap: 17.5%;
}

.sixth6{
    width: 100%;
    display: flex;
    gap: 14%;
}

.seventh7{
    width: 100%;
    display: flex;
    gap: 18%;
}

.nameinp{
    width: 100%;
}

.name{
    width: 85%;
    height: 45px;
    padding-left: 15px;
}

.pro{
    display: flex;
    gap: 5%;
}

.radiobtns{
    width: 20%;
    display: flex;
    gap: 10%;
}

.gen{
    display: flex;
    gap: 10%;
}

.genderbtns{
    display: flex;
    gap: 30%;
}

.dept{
    display: flex;
    gap: 8%;
}

.departmentbtns{
    display: flex;
    gap: 6%;
}

.sal{
    width: 300%;
    height: 45px;
}

.dates{
    width: 30%;
    height: 45px;
}

.startdatesinp{
    width: 60%;
    display: flex;
    gap: 10px;
}

.notesinp{
    width: 100%;
}

.note{
    width: 85%;
    height: 100px;
    font-size: 19px;
    padding-left: 15px;
}

.bottombtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 15px 0px;
}

.btn{
    width: 150px;
    height: 35px;
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
    &:hover{background: #969696 0% 0% no-repeat padding-box;}
}

/* .btn:hover{
    background: #969696 0% 0% no-repeat padding-box;
} */

.btn1{
    width: 150px;
    height: 35px;
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
}

.btn1:hover{
    background: #82A70C 0% 0% no-repeat padding-box;
    color: #FFFFFF;
}

.rightbtns{
    display: flex;
    gap: 5%;
}

/* Employee Details CSS */

.head{
    width: 80%;
    display: flex;
    margin: 30px;
    justify-content: space-between;
}

.head h1{
    text-align: left;
    font: normal normal bold 28px/25px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
}

.headright{
    width: 15%;
    display: flex;
    gap: 18%;
    align-items: center;
}

.search{
    width: 30%;
    /* height: 30px; */
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: white; */
    /* border-radius: 20px; */
    /* box-shadow: 0px 0px 2px 1px rgb(216, 203, 203); */
}

.search input{
    height: 35px;
    position: relative;
    z-index: 4;
    border-radius: 50px;
    border: 1px solid rgb(227, 207, 207);
    padding-left: 15px;
}

.search i{
    font-size: 20px;
    position: absolute;
    right: 290px;
    top: 145px;
    z-index: 30;
}

.buttonicn{
    width: 60%;
    height: 30px;
    background-color: #82A70C;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border-radius: 5px;
}

table{
    width: 80%;
    border-collapse: collapse;
}

thead{
    background-color: #42515F;
    height: 50px;
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

tbody tr{
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E3E3E3;
    opacity: 1;
}

.actionsdiv{
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.depttable{
    display: flex;
    width: 55%;
    justify-content: space-between;
}

.depttable div{
    background-color: #E9FEA5;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
}

tr td img{
    width: 25px;
    height: 25px;
    margin: 20%;
}

tr td{
    padding: 5px;
}